<div class="row">
  <div class="col-sm">
    <div class="alert alert-info col-sm" role="alert">
      <a [routerLink]="['/']">
        <i class="fas fa-chevron-left fa-2x" style="color:black"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="text-center">
      <h4>LOCALIZACION</h4>
    </div>
    <div class="text-center">SECTOR</div>
    <div class="form-inline">
      <div>
        <button type="button" class="btn btn-danger" (click)="menosSector()">
          <i class="fas fa-arrow-circle-left"></i>
        </button>
      </div>
      <div class="col">
        <input type="text" class="form-control" id="sector" placeholder="Fecha" name="sector" [(ngModel)]="sector" readonly style="text-align:center;">
      </div>
      <div>
        <button type="button" class="btn btn-danger" (click)="masSector()">
          <i class="fas fa-arrow-alt-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div *ngIf="existeLocalizacion(sector)">
      <img [src]="localizacion.url" class="img-fluid">
    </div>
  </div>
</div>