<div class="row">
  <div class="col-sm">
    <div class="alert alert-info col-sm" role="alert">
      <a [routerLink]="['/']">
        <i class="fas fa-chevron-left fa-2x" style="color:white"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sector</th>
          <th>Hamacas</th>
          <th>Sombrillas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sectorUlt">
          <th scope="row">
            {{ item?._id}}
            <br>
            <span class="text-success">{{ item?.lastFecha | date: 'dd/MM/yyyy' }}</span>
          </th>
          <td>
            {{ item?.lastHamacas }}

          </td>
          <td>
            {{ item?.lastSombrillas }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>