<div class="row">
  <div class="col-sm">
    <div class="alert alert-info col-sm" role="alert">
      <a [routerLink]="['/']">
        <i class="fas fa-chevron-left fa-2x" style="color:black"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">Información</div>
      <div class="card-body">
        <h5 class="card-title">App Hamacas v 30</h5>
        <p class="card-text">R.A. BENIDORM.</p>    
      </div>
    </div>
  </div>
</div>
