<div class="row">
    <div  class="alert alert-info col-sm" role="alert">
      <a [routerLink]="['/']"><i class="fas fa-arrow-alt-circle-left fa-3x"></i></a>    
    </div>
  </div>
<div class="row">
  <div class="col-sm">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">Información</div>
      <div class="card-body">
        <h5 class="card-title">App Hamacas v 12</h5>
        <p class="card-text">R.A. BENIDORM.</p>
        <p class="card-text">fran. 629 460 220</p>        
      </div>
    </div>
  </div>
</div>
