<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" [routerLink]="['/']">Hamacas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/']">Inicio</a>
            <a class="nav-item nav-link" [routerLink]="['/lista']">Lista</a>
            <a class="nav-item nav-link" [routerLink]="['/info']">Info</a>  
          </div>
        </div>
      </nav>  
  <router-outlet></router-outlet>
</div>

